/* Apply global styles */

/* FAQ page styles */

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10%;
}

.faq-list {
  margin-top: 20px;
}

.faq-item {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
}

/* Icon styles */
.AiOutlinePlus,
.AiOutlineMinus {
  font-size: 20px;
  margin-left: 10px;
}

.AiOutlineMinus {
  transform: rotate(45deg);
}
.apply-now {
text-align: center;
margin-top: 40px;
}





