.hero_section{
    display: flex;
   background-image:url('../Assests/hyprridenew.png');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.hero_Section_img{
    flex: 1;
    width: 30vw;
    z-index: 10;
   
}
.hero_Section_img button{
    background-color:transparent;
    color: rgba(255, 2, 2, 0.821);
    text-decoration: underline;
    margin-left: 4vw;
    margin-top: 2vh;

}
.hero_Section_img h1{
    font-size: 60px;
    margin-top: 20%;
    width: 30vw;
    margin-left: 5vw;
    color: white;
}
.hero_Section_img p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 5vw;
    width: 40vw;
}
.HEROHEADING{
    margin-top: 16VH;
    margin-left: 10vw;
  
}
.HEROHEADING h1{
    color: rgb(255, 255, 255);
    font-size: 65px;
    letter-spacing: 5px;
}

.hero_Section_img img{
    width: 35vw;
    height: 95vh;
    margin-left: 10vw;
    margin-top: 5vh;
   
}
.Date_picking_Section{
    z-index: 10;
    width: 24vw;
    background-color: white;
    margin-right: 10vw;
    height: 50vh;
    margin-top: 27vh;
    padding: 2rem;
    border-radius: 10px;
    margin-left: 9vw;
}

.logo_Container{
    background-color: black;
    height: 10vh;
    width: 20vw;
    margin-left: 9.5vw;
    margin-top: 5vh;
    box-shadow: 0px 5px 5px  rgb(44, 44, 44);
    border-radius: 10px;
    
}
.logo_Container img{
    width: 17vw;
    height: 5vh;
    margin-left: 1vw;
    margin-top: 2vh;
}
#km_button{
    background-color: white;
    margin-left: 6vw;
}

.Date_picking_Section input{
    width: 20vw;
    height: 1vh;
    font-size: larger;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}
.Date_picking_Section input ::placeholder{
    font-size: 16px;
}
.Pickup_Time input{
    width: 20vw;
    border-radius:5px;
    height: 3vh;
}

#Pickup_date
{height: 24px;}

.Plan_selection_input select{
    width: 17vw;
    height: 5vh;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}
.Plan_selection_input{
    margin-left: .2vw;
    height: 3vh;
    width: 20vw;
}
#SelectedPlan{
    width: 21vw;
    height: 6vh;
    font-family: Garetbook;
}
h2{
    margin-bottom: 2px;
}
.Show_avail_Button{
    margin-left: 4vw;
}
.Show_avail_Button button{
    padding: 10px;
    width: 15vw;
    margin-top: 10vh;
    background-color: rgb(225,23,21);
    color: white;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 3px 1px 1px 1px rgb(70, 70, 70);
}
.Show_avail_Button button a{
    color: white;
}
@media (max-width:500px) {
   .Plan_selection_input{
    margin-top: 2vh;
    width: 80vw;
   }
   #SelectedPlan{
    width: 80vw;
   }
  .hero_Section_img{
    display: none;
  }  
  .Date_picking_Section{
    width: 80vw;
    max-width: 90vw;
    height: 65vh;
    margin: 10vh 4vw;
    padding: 1.5rem;
  }
  .logo_Container{
    width: 80vw;
    height: 8vh;
    margin: 4vh 4vw;
    border-radius: 5px;
  }
  .logo_Container img{
    width: 70vw;
    
}
.PickUP_selection_section{
    display: block;
} 
.PickUP_selection_section h2{
    margin: 1vh 5vw;
} 
.PickUP_selection_section input{
    width: 70vw;
    margin: 1vh 5vw;
}
.Plan_selection_input select{
    width: 70vw;
}

.Show_avail_Button button{
    width: 80vw;
    margin-top:10vh;
}
.Show_avail_Button{
    margin: 2vw;
}
}