
.admin_nav {
    top: 0.5;
    left: 0;
    width: 100vw; /* Adjust the width as needed */
    height: 60%; /* Make it cover the full height of the screen */
    background-color: #fff; /* Set your desired background color */
    padding: 10px; /* Add padding to the navigation for spacing */
    display: flex;
    justify-content: space-around;
  }
  hr{
    max-width: 90vw;
  }
  #adminpageheading{
    text-align: center;
    font-size: 30px;
    margin-left: 50%;
    margin-top: 1%;
  }
  /* Add styles for the headings inside the navigation */
  .admin_nav h1 {
    margin: 10px 0;
    font-size: 16px; 
    cursor: pointer;

  } 
  .Booking_records h1{
    text-align: center;
    
  }
  /* Add these styles to your CSS file */

.table-panel {
    width: 98%;
    max-width: 98%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
  
  .table-container {
    max-height:450px; /* Set the maximum height for the table */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    min-width: 200px;
    text-align: left;
  }
  
  /* Style the table headers as needed */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  .mobile-menu-button{
    display: none;
  }
  .Logout_btn{
    margin-left: 30%;
    margin-top: 1%;
  }
  .Logout_btn button{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

  }
.Bike_details_portal ul{
  list-style: none;
}
.Bike_details_portal ul li{
  margin: 2px;
}
.Bike_details_portal ul li button{
 width: 200px;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
}


.Updating_container{
  margin-left: 5vw;
}
.Delete_bike_container input{
  width: 100%;
}
.Bike_details_portal ul{
  display: flex;
  margin-left: 20vw;
}



@media (max-width: 768px) {
    .Bike_Info_container{
      display: block;
    }
    .admin_nav {
      width: 100%; /* Take up the full width of the screen on mobile */
      height: auto; /* Allow the navigation to scroll vertically on mobile */
      position: static; /* Remove fixed positioning */
      box-shadow: none; /* Remove shadow */
      display: none; /* Hide the navigation by default on mobile */
    }
  
    .admin_nav.show-mobile {
      display: block; /* Show the navigation when a mobile menu button is clicked */
    }
  
    .admin_nav h1 {
      text-align: center; /* Center-align the headings on mobile */
    }
  
    .admim_working_profile {
      margin-left: 0; /* Remove left margin on mobile */
      padding: 20px;
    }
    .Admin_portal{
        padding-top: 2vh;
    }
    .mobile-menu-button{
        display: block;
      }
      .Logout_btn{
        margin-left: 70vw;
      }
  }