/* LoginPage Container */
.login-container {
    background-color: rgb(255, 0, 4);
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Form Styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    margin: 10px 2vw;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  #Submit_button  {
    background-color: rgb(255, 255, 255);
    color: rgb(221, 21, 23);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
    margin-left: 35%;
    
  }
  
  button:hover {
    background-color: rgba(173, 51, 51, 0.8);

  }
  .login_page{
    padding-top: 25vh;
  }