/* LoadingAnimation.css */
.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .red {
    background-color: red;
    animation-name: colorChangeRed;
  }
  
  .orange {
    background-color: orange;
    animation-name: colorChangeOrange;
  }
  
  @keyframes colorChangeRed {
    0%, 100% {
      background-color: red;
    }
    50% {
      background-color: orange;
    }
  }
  
  @keyframes colorChangeOrange {
    0%, 100% {
      background-color: orange;
    }
    50% {
      background-color: red;
    }
  }
  