.UserForm{
    margin-left: 15vw;
    padding: 3.5vw;
    max-width: 60%;
    border: 1px rgb(146, 146, 146) solid;
    background-color: #fff;
}
.userinputpage{
    padding-top: 5vh;
}
#Driver_margin{
  margin:10px 0px;
}
#last_label{
  margin-left: 5vw;
}
  /* Style the form elements */
  label {
    margin-bottom: 10px; /* Add spacing between label-input pairs */
    font-weight: bold;
  }
  .input_block{
    display: flex;
  }
  #break{
    display: none;
  }
  .input_block input{
    width: 25vw;
  }
  input {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px; /* Add spacing between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    min-width:10vw;
  }
  
 #save_button button{
    padding: 10px 20px;
    background-color: #ff5420;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 35%;
    margin-top: 5vh;
  }
  
  /* Optional: Style the form header */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  @media (max-width:720px) {
    .UserForm{
        margin-left: 0px;
        margin-top: 1vh;
        max-width: 80vw;
    }
    .userinputpage
    {
        padding-top: 2vh;
    }
    .input_block{
      display: block;
    }
    #break{
      display: block;
    }
  }
  