 .web_navbar{
    display: flex;
    background: linear-gradient(to right, #170000, #7B060D);
    width: 100%;
    z-index: 1000;
    height: 80px;
 }
 .web_logo{
    padding: 1vw;
    padding-top: 1vh;
    margin-left: 5vw;
 }
 .web_logo img{
    width: 6rem;
    height: 4rem;

 }
 .nav ul{
    display: flex;
    list-style: none;
    margin-left: 50vw;
    margin-top: 2vh;
 }
 .nav ul li{
    padding: 10px;
    margin: 1vh 1vw;
 }
 .nav ul li a{
    text-decoration: none;
color: white;
transition: all;
font-size: 16px;
 }
 .nav ul li a:hover{
  color: rgb(127, 127, 127);
  text-decoration: underline;
  transition: all;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }