.Booking_container{
    padding-top: 2%;
    display: flex;
    margin: 0px 10vw;
    justify-content: space-around;
}
.bike_information{
    width: 35vw;
   
}
.bike_information img{
    width: 100%;
}.bike_information h1{
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.Bike_features ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
  
}
.Bike_features ul li{
    font-size: 20px;
}
.Bike_features{
    padding: 20px;
    border: 1px black solid;
    box-shadow: 0px 0px 1px rgb(234, 234, 234);
}
.bookingDetails{
    padding: 20px;
    border: 1px black solid;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}
.bookingDetails h4{
    margin: 4px 2px;
}
.booking_summary{
    border: 1px black solid;
    padding: 20px;
    margin-top: 4%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px rgb(241, 241, 241);
    border-radius: 10px;
}
.booking_summary h6{
    font-size: 16px;
}
.Checkbox input{
    width: 10%;
    min-width: 1px;
}
.booknowbutton button{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#order_summary{
    font-size: 50px;
    text-align: center;
}

.ride_pick{
    margin-left: 10px;
}
@media (max-width:720px) {
.Booking_container{
    display: block;
}
.bike_information{
    width: 80vw;
}
.bookingDetails{
    margin-top: 5vh;
}
}