.BookingStatus_container{
    margin: 10% 30%;
    line-height: 30px;
}
.BookingStatus_container h3{
font-weight: 400;
}.BookingStatus_container img{
    width: 50px;
    height: 50px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #db3434; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media (max-width:720px) {
    .BookingStatus_container{
        margin: 10vh 5vw;
    }
    
}