*{
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: Garetbook;
}
button{
  cursor: pointer;
}

@font-face {
  font-family: Garetbook;
  src: url('../src/Compoents/Assests/Garet-Book.ttf');
}
@media (max-width:420px) {
  .App{
  max-width: 400px;
  
  }
}